body {
  margin: 0px;
  padding: 0px;
}
* {
  font-family: sans-serif;
  text-transform: capitalize;
  cursor: default;
}
.all {
  background-color: hsl(216deg 55% 11%);
  height: 100vh;
  margin: 0%;
}
.all .card {
  background-color: hsl(214deg 50% 16%);
  width: 300px;
  height: 500px;
  margin: 0px auto;
  transform: translateY(60px);
  border-radius: 15px;
  box-shadow: 20px 25px 60px 0 hsl(217deg 55% 10%),
    -20px 25px 60px 0 hsl(217deg 55% 10%),
    -20px -20px 60px 0 hsl(217deg 55% 10%),
    20px -20px 60px 0 hsl(217deg 55% 10%);
  padding: 20px;
  box-sizing: border-box;
}
.all .card .img {
  background-image: url(../images/image-equilibrium.png);
  background-size: cover;
  height: 50%;
  border-radius: 10px;
  position: relative;
}
.all .card .img::after {
  position: absolute;
  content: "";
  z-index: 2;
  background-image: url(../images/icon-view.svg);
  background-size: cover;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition-duration: 0.2s;
}
.all .card .img::before {
  position: absolute;
  content: "";
  background-color: #008e9a;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 55%;
  visibility: hidden;
  border-radius: 10px;
  transition-duration: 0.2s;
}
.all .card .img:hover.img::after,
.all .card .img:hover.img::before {
  visibility: visible;
}
.all .card .text h3 {
  color: #fff;
  font-size: 18px;
}
.all .card .text h3:hover {
  color: #179eac;
  cursor: default;
}
.all .card .text p {
  color: #ffffff45;
  cursor: default;
}
.all .card .text .clock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 40px;
  border-bottom: solid 2px hsl(214deg 60% 24%);
}
.all .card .text .clock .d {
  display: flex;
  color: hsl(175deg 98% 46%);
}
.all .card .text .clock .d .icon {
  background-image: url(../images/icon-ethereum.svg);
  background-size: cover;
  width: 15px;
  height: 25px;
  margin-right: 5px;
  margin-top: -5px;
}
.all .card .text .clock .dd {
  place-self: flex-end;
  display: flex;
  color: #ffffff59;
  text-transform: none;
}
.all .card .text .clock .dd .icon {
  background-image: url(../images/icon-clock.svg);
  background-size: cover;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.all .card .text .end {
  padding-top: 30px;
  display: flex;
}
.all .card .text .end .icon {
  background-image: url(../images/image-avatar.png);
  background-size: cover;
  width: 30px;
  height: 30px;
  border: solid 1px #fff;
  border-radius: 50%;
  transform: translateY(-5px);
  margin-right: 15px;
}
.all .card .text .end .text {
  color: #ffffff38;
}
.all .card .text .end .text .name {
  color: hsl(217deg 14% 70%);
}
.all .card .text .end .text .name:hover {
  color: #008e9a;
}
@media (max-width: 420px) {
  .all {
    width: 375px;
  }
}
